/* Styles for the .box class */
.box {
  background-color: #007680; /* Background color */
  padding: 2rem; /* Padding */
  border-radius: 10px; /* Border radius */
  text-align: center; /* Text alignment */
  text-decoration: none; /* Text decoration */
  color: #d3d3d3; /* Text color */
  transition: transform 0.3s, box-shadow 0.3s, color 0.3s ease; /* Transition properties */
  font-size: 1.2rem; /* Font size */
}

/* Styles for the .box class on hover */
.box:hover {
  transform: scale(1.05); /* Scale transformation */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Box shadow */
  color: #fff; /* Text color */
}

/* Styles for the .main-content class */
.main-content {
  display: flex; /* Flex display */
  flex: 1; /* Flex property */
  padding: 2rem; /* Padding */
}

/* Styles for the .info-panel class */
.info-panel {
  flex: 1; /* Flex property */
  margin-right: 2rem; /* Margin right */
  background-color: rgba(0, 45, 49, 0.8); /* Background color */
  padding: 1rem; /* Padding */
  border-radius: 10px; /* Border radius */
}

/* Styles for the .grid-container class */
.grid-container {
  display: grid; /* Grid display */
  grid-template-columns: 1fr; /* Grid template columns */
  gap: 1rem; /* Gap between grid items */
  flex: 2; /* Flex property */
}

/* Styles for the .dashboard class */
.dashboard {
  padding: 2rem; /* Padding */
  display: flex; /* Flex display */
  flex-direction: column; /* Flex direction */
  min-height: 100vh; /* Minimum height */
}
